@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-link {
  @apply transition-all duration-300 hover:text-red-600;
}

.section-heading {
  @apply text-center font-bold text-5xl sm:text-7xl md:text-9xl text-red-300 drop-shadow-2xl mb-20 md:mb-32 pt-4;
}

.icon {
  @apply relative w-full h-full flex justify-center items-center;
}

.step {
  @apply transition duration-300 hover:bg-red-400 hover:text-white absolute w-[50px] h-[50px] md:w-[80px] md:h-[80px] rounded-full bg-white text-primary border border-4 cursor-pointer border-white outline outline-2 outline-primary flex justify-center items-center text-xl md:text-2xl font-bold;
}
.step.active {
  @apply bg-red-400 text-white;
}
.step-1 {
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

.step-2 {
  right: 0;
  top: 30%;
  transform: translate(20%, -50%);
}

.step-3 {
  right: 0;
  top: 80%;
  transform: translate(-10%, -50%);
}

.step-4 {
  left: 0;
  top: 80%;
  transform: translate(10%, -50%);
}

.step-5 {
  left: 0;
  top: 30%;
  transform: translate(-20%, -50%);
}

.step-content {
  @apply text-primary text-center drop-shadow-2xl font-bold text-lg md:text-2xl transition-all duration-300 w-[250px] h-[250px] md:w-[400px] md:h-[400px] rounded-full flex justify-center items-center relative before:absolute before:top-0 before:left-0 before:w-full before:h-full before:border-x-4 before:border-x-red-400 before:rounded-full before:border-y-transparent before:border-y-4 before:animate-[spin_1.5s_linear_infinite];
}

.link {
  @apply fixed z-[100] text-white rounded-full border-2 w-[60px] h-[60px] text-xs font-bold bg-red-400 transition-all duration-300 hover:bg-red-600 flex justify-center items-center;
}

.link-offer {
  @apply bottom-32 right-8 transform translate-y-[-8%];
}

.link-services {
  @apply bottom-28 right-28 transform;
}

.link-register {
  @apply bottom-8 right-32 transform translate-x-[-8%];
}
